@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poor+Story&display=swap');
*{
    margin:0px;
    padding:0px;
    color:white;
    font-family:'poor story';

}
body{
    animation: man 0.75s 0s;
    background:black;
}
@keyframes man{
from{
    background:black;
    opacity: 0.5;
    transform:translateY(10px);
}
to{
    opacity:1;
    transform:translateY(0px);
}
}

#main{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:  48px repeat(32,60px);
    background:rgb(40, 38, 38,0.6);
    width:1423px;
    height:100%;
    background-size:cover;
    background-position: center center;
    position:relative;
    z-index:99;
}
#link1{
    text-decoration: underline;
    position: relative;
    bottom: 114%;
    right: -61.8%;
    font-size: 24px;
}
.na{
    padding-top: 10px;
    margin-left: 25px;
    padding-bottom: 40px;
    border-radius: 20px;
    grid-column: 4/13;
    grid-row: 1/2;
    background-color: rgba(18, 2, 2, 0.2);
    width: fit-content;
    font-family: "Pt Sans Narrow";

}
nav ul{
    display:flex;
    flex-direction:row;
    list-style-type:None;
    justify-content: center;
    font-size: 24px;

}
nav ul li{
    margin:0px 38px;
    

}
li{
    transition:all 0.1s ease-in 0s;
}
li a{
    transition:all 0.2s ease-in 0s;
    color:rgb(255, 255, 255);
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
    text-decoration: none;
}
li a:hover{
    color:rgb(255, 255, 255);
    text-decoration:overline;
    text-shadow: 5px 5px 2px rgb(0, 0, 0);
}
li:hover{
    font-size:25px;
    color:aqua;
}
#ho{
    margin-top: 10px;
    font-size:25px;
    color:rgb(255, 255, 255);
    text-decoration:overline;
    text-shadow: 5px 5px 2px rgb(0, 0, 0);
}
#content {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(10,1fr);
    grid-row: 3/19;
    grid-column: 2/12;

    background: none;
    border-radius: 15px;

}

#coni{
    height: 50%;
    margin: 10px 11px;
    grid-row: 1/9;
    grid-column: 1/5;
}
#cont{
    grid-row: 1/5;
    grid-column: 3/13;
    margin: 15px 30px;
    font-size: 28px}
#cont2{
    grid-row: 5/10;
    grid-column: 1/13;
    margin: 10px 10px;
    font-size: 25px;}
#comments{
    display:flex;
    flex-direction:column;
    grid-row:20/32;
    grid-column:2/12;
    color:black;
    margin:0px 2px;
}
.nam {
    font-size: 23px;
    color: rgb(255 255 255 / 47%);
    margin-top: 15px;
}

.co{
    font-size: 18px;
    margin-bottom: 15px;
}
.comm{
    border-bottom: 1px solid rgb(255 255 255 / 67%);
}
.txt{
    font-size: 24px;
}
form{
    display:flex;
}
.txt1{
    margin-left:54px;
    font-size:24px;
}
#sub {
    margin-left: 21px;
    width: 9%;
    background: black;
    border-radius: 6px;
    font-size: 20px;
    box-shadow: 0px 1px #7d7d7d;
    cursor:pointer;
}
#name{
    background: #272727;
    border: none;
    border-radius: 3%;
    margin-left: 7px;
}
#comm{
    background: #272727;
    border: none;
    width: 63%;
    border-radius: 3%;
    margin-left: 7px;
}
#li{
    background: red;
    cursor: pointer;
    font-size: 25px;
    width: 41%;
    height: 90%;
    border-radius: 100%;
}
#like {
    position: fixed;
    bottom: 8px;
    right: -44px;
    width: 7%;
}
#counter{
    margin-left: 14%;
}
#li:hover{
 background:rgb(161, 3, 3);
}
#sm{
    display:flex;
    flex-direction:row;
}
.logo{
    width: 25px;
    height: 25px;
    margin: 0px 13px;
}

.lin{
    border:none;
}
.hon{
    text-decoration: none;
    font-size: 20px;
    color: lightgrey;
}
.hon:hover{
    text-decoration:underline;
    font-size:20px;
    text-shadow:none;
   
}
#ql{
    margin-right:144px;
}
#q{
    font-size:25px;
}
#qlinks{
    list-style: none;
}
#subh{
    font-size: 24px;
    margin-top: 29px;
}
#esu{
    background: #272727;
    border: none;
    border-radius: 3%;
    width: 50px;
    height: 22px;
    margin-left: 4px;
    margin-top: 6px;
}

#em
{
    background: #272727;
    border: none;
    border-radius: 3%;
    color: white;
    height: 23px;
    width: 221px;
    margin-bottom: 16px;
    margin-top: 6px;
}
footer{
    display:flex;
    flex-direction:row;
    justify-content: center;
    background-color: rgb(24 24 24 / 73%);
}