doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="icon",href="https://freepngimg.com/thumb/strawberry/1-strawberry-png-images.png",type="image/png")
        style 
            include ./hstyle.css
    body 
        div#main
            div.na    
                    nav 
                        ul 
                            li: a#ho(href="/Home") Home
                            li: a(href="/about") About Me
                            li: a(href="/contact") Contact Me 
                            li: a(href="/Home#footer") Subscribe
            div#i1
                p#i12 UNLIMITED!!<br>ONESTA'S Best pizza in rajarajeshwari nagar near gopalan arcade in bangalore...
                a#link1(href="/card9") Read More!
                img#piz(src="static/onetsa.jpg")
                p#des Newly Released
            p#to1 All Time Favourites
            div#b1
                a.card1#c1(href="/card1") 
                    img.b1(src="static/cake.jpg")
                    p#cb1 cheesy cake!
                a.card1#c2(href="/card2")
                    img.b1(src="static/cafe.jpg") 
                    p.cb1 Cafeteria!
                a.card1#c3(href="/card3") 
                    img.b1(src="static/wowochina.jpg")
                    p.cb1 Chinese!
            div#top
                p#to Top Five picks this week
                a(href="/card4").t1
                    img.tt1(src="static/garlic.jpg")
                    p.tt2
                        span.tc1 1
                        br
                        span.tc2 Cheesy Garlic bread with Mojito in JP Nagar
                        br 
                        span.tc3 Ratings: &#9733; &#9733; &#9733; &#9733; 
                a(href="/card5").t1
                    img.tt1(src="static/jamun.jpg")
                    p.tt2
                        span.tc1 2
                        br
                        span.tc2 Craving Jamun in Malleswaram
                        br 
                        span.tc3 Ratings: &#9733; &#9733; &#9733; &#9733; &#9733;
                a(href="/card6").t1
                    img.tt1(src="static/glenpasta.jpg")
                    p.tt2
                        span.tc1 3
                        br
                        span.tc2 Creamy Pasta in Glen's 
                        br 
                        span.tc3 Ratings: &#9733; &#9733; &#9733; &#9733; 
                a(href="/card7").t1
                    img.tt1(src="static/malaimomo.jpg")
                    p.tt2
                        span.tc1 4
                        br
                        span.tc2 Malai Momo in MOMO CO 
                        br 
                        span.tc3 Ratings: &#9733; &#9733; &#9733; &#9733; &#9733; 
                a(href="/card8").t1
                    img.tt1(src="static/roti.jpg")
                    p.tt2
                        span.tc1 5
                        br
                        span.tc2 Roti Curry in Indraprasta 
                        br 
                        span.tc3 Ratings: &#9733; &#9733; &#9733; &#9733;
        footer#footer
            div#ql
                p#q Quick Links
                ul#qlinks
                    li: a.hon(href="/Home") Home
                    li: a.hon(href="/about") About Me
                    li: a.hon(href="/contact") Contact Me 
                    li: a.hon(href="/Home#footer") Subscribe
            div#sub
                p#subh Please enter your email to get timely updates on new content!!! 
                form#email(method="POST" action="/email" placeholder="Enter your email")
                    input#em(type="email", name="em")
                    input#esu(type="submit") 
                div#sm 
                    a.lin(href='#')
                        img.logo(src="static/ilogo.png")
                    a.lin(href='#')
                        img.logo(src="static/ilogo.png")
                    a.lin(href='#')
                        img.logo(src="static/ilogo.png")