@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poor+Story&display=swap');
*{
    margin:0px;
    padding:0px;
    color:white;
    font-family:'poor story';


}
body{
    animation: man 0.75s 0s;
    background:black;
}
@keyframes man{
from{
    background:black;
    opacity: 0.5;
    transform:translateY(10px);
}
to{
    opacity:1;
    transform:translateY(0px);
}
}


#bac{
    width:100%;
    height:100vh;
    position:fixed;
    z-index:-2;
} 
#main{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:  48px repeat(37,60px);
    background:rgb(40, 38, 38,0.6);
    width:1423px;
    min-width:500px;
    height:100%;
    background-size:cover;
    background-position: center center;
    position:relative;
    z-index:99;
}
#link1{
    text-decoration: underline;
    position: absolute;
    bottom: 82%;
    right: 31.2%;
    font-size: 24px;
    z-index: 33;
}

.na{
    padding-top: 10px;
    margin-left: 25px;
    padding-bottom: 40px;
    border-radius: 20px;
    grid-column: 4/13;
    grid-row: 1/2;
    background-color: rgba(18, 2, 2, 0.2);
    width: fit-content;
    font-family: "Pt Sans Narrow";

}
nav ul{
    display:flex;
    flex-direction:row;
    list-style-type:None;
    justify-content: center;
    font-size: 24px;

}
nav ul li{
    margin:0px 38px;
    

}
li{
    transition:all 0.1s ease-in 0s;
}
li a{
    transition:all 0.2s ease-in 0s;
    color:rgb(255, 255, 255);
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
}
li a:hover{
    color:rgb(255, 255, 255);
    text-decoration:overline;
    text-shadow: 5px 5px 2px rgb(0, 0, 0);
}
li:hover{
    font-size:25px;
}
#ho{
    margin-top: 10px;
    font-size:25px;
    color:rgb(255, 255, 255);
    text-decoration:overline;
    text-shadow: 5px 5px 2px rgb(0, 0, 0);
}
#i1{
    margin-top: 10px;;
    border:2px solid white;
    grid-row:2/11;
    grid-column:1/13;
    z-index:-1;
 
}
#i12{
    border: 2px solid white;
    height: 23.25%;
    width: 42.4%;
    position: absolute;
    z-index: -1;
    left: 57.555%;
    padding-top: 9%;
    background-color: rgb(0 0 0 / 73%);
    padding-left: 4%;
    padding-right: 4%;
    font-size: 37px;
    box-sizing:border-box;
}
#piz{
    width: 57.5%;
    height: 23.2%;
    position: absolute;
    bottom: 74.2%;
    z-index: -2;
    right: 42.4%;
}
a{
    text-decoration: none;
}
#des{
    width: fit-content;
    padding: 8px 20px;
    background-color: orange;
    border-radius: 2px;
    position: absolute;
    bottom: 95.5%;
    animation: dec 1s 0.1s infinite alternate ease-in-out;
}
@keyframes dec{
from{
    scale:75%;
}
to{
    scale:100%;
}
}
.b1{
    width: 100%;
    height: 100%;
}
#link1{
    color:red;
    transition: all 0.1s ease-in 0s;
}
#link1:hover{
    font-size:26px;
}
#b1{
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
    width: 92%;
    margin-left: 25%;
    margin: 40px auto;
    margin-top: -5px;
    grid-column: 2/13;
    margin-bottom: 56px;
    grid-row: 13/23;}

.cb1{
    background-color: rgb(14 14 14 / 94%);
    height: 15%;
    width: 35%;
    padding-left: 12px;
    right: -1%;
    position: relative;
    bottom: 20%;
    border-radius: 30px;
    font-family: 'lobster';
    font-size: 32px;
}
#b2{
    display: flex;
    justify-content: center;
    width: 100%;
    grid-column: 1/13;
    grid-row: 19/25;
}
#b3{
    display: flex;
    justify-content: center;
    width: 100%;
    grid-column: 1/13;
    grid-row: 26/32;
}
footer{
    grid-column:1/13;
    grid-row:40/42;
    background-color: rgba(235, 223, 223, 0.243);
    display:flex;
    flex-direction:row;
    justify-content: center;
    background-color: rgb(24 24 24 / 73%);
}
#c1{
    border: 2px solid white;
    grid-row: 1/13;
    grid-column: 1/7;
    transition: all 0.1s ease-in 0s;
    
}
#c1:hover{
    scale:102%;
    border:2px solid rgb(255, 255, 255);
}
#c2{
    border: 2px solid white;
    width: 60%;
    border-radius: 1%;
    transition: all 0.1s ease-in 0s;
    height: 100%;
    margin-left: 16%;
    grid-row: 1/6;
    grid-column: 6/13;

}
#c2:hover{
    scale:102%;
    border:2px solid rgb(255, 255, 255);
}
#c3{
    border: 2px solid white;
    width: 62%;
    margin-left: 116px;
    height: 100%;
    margin-top: 17px;
    border-radius: 1%;
    transition: all 0.1s ease-in 0s;
    grid-row: 6/13;
    grid-column: 6/13;
}
#c3:hover{
    scale:102%;
    border:2px solid rgb(255, 255, 255);
}
.tt1{
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/6;
}

#top{
    display: flex;
    flex-direction: column;
    grid-row: 23/28;
    grid-column: 2/11;

}
.t1{
    display: grid;
    grid-template-rows: repeat(5,27px);
    grid-template-columns: repeat(10,1fr);
    margin: 14px 0px;
    background:rgb(0 0 0 / 0.07);
}
.t1:hover{
    opacity:0.8;
}
.tc1{
    font-size:50px;
}
.tt2{
    grid-column: 3/11;
    margin-left: 3%;
}
.tc2{
    font-size: 37px;
}
#to{
    font-size:53px;
    text-decoration:underline;
}
#to1{
    font-size:53px;
    text-decoration:underline;
    grid-row:11/12;
    grid-column:2/13;
    margin-top: 38px;
}
#cb1{
    background-color: rgb(14 14 14 / 94%);
    height: auto;
    width: 30%;
    padding-left: 12px;
    right: -1%;
    position: relative;
    bottom: 10%;
    border-radius: 20px;
    font-family: 'lobster';
    font-size: 32px;
}
#sm{
    display:flex;
    flex-direction:row;
}
.logo{
    width: 25px;
    height: 25px;
    margin: 0px 13px;
}

.lin{
    border:none;
}
.hon{
    text-decoration: none;
    font-size: 20px;
    color: lightgrey;
}
.hon:hover{
    text-decoration:underline;
    font-size:20px;
    text-shadow:none;
   
}
#ql{
    margin-right:144px;
}
#q{
    font-size:25px;
}
#qlinks{
    list-style: none;
}
#subh{
    font-size: 24px;
    margin-top: 29px;
}
#esu{
    background: #272727;
    border: none;
    border-radius: 3%;
    width: 50px;
    height: 22px;
    margin-left: 4px;
}
#em
{
    background: #272727;
    border: none;
    border-radius: 3%;
    color: white;
    height: 23px;
    width: 221px;
    margin-bottom: 16px;
    margin-top: 6px;
}