doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./style.css
        title Welcome Dear Foodie 
        link(rel="icon",href="https://freepngimg.com/thumb/strawberry/1-strawberry-png-images.png",type="image/png")
    body
        
        div.main 
            div#vid1    
                video#vid(src="static/cvid.mp4" muted loop autoplay)
            div.na    
                nav 
                    ul 
                        li: a(href="/Home") Home
                        li: a(href="/about") About Me
                        li: a(href="/contact") Contact Me 
                        li: a(href="/Home#footer") Subscribe
            h1#hero  Welcome to the 
                span
                    | Best food blog 
                | ever ! 
            p#help I have shared my best experiences with different food items and places that you may want to know, So get along with me to start a new journey as a foodie!!!
            a#cta(href='/home') Explore the world of food 
                span
                    | &#8594; 
    